@model IEnumerable<UserWebApp.Models.ChartOfAccount>


@{
    ViewBag.Title = "EventLog";

}

<img src="~/Content/Logo For App Domain.png" alt="logo" style="
        display: block;
        margin-top: 15px;
        margin-left: 10%;
        width: 10%;" />

<h2 style="margin-left:10%;">EventLog</h2>

<table class="table">
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Account Description</th>
        <th>Normal Side</th>
        <th>Category</th>
        <th>Sub-Category</th>
        <th>Initial Balance</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
        <th>Added On</th>
        <th>User Id</th>
        <th>Order</th>
        <th>Statement</th>
        <th>Comment</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalSide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Debit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statements)
            </td>
        </tr>
    }
</table>


<div data-toggle="tooltip" title="Return back to the Chart of Accounts" data-placement="right">
    @Html.ActionLink("Back to List", "Index")
</div>
