@model UserWebApp.Models.Ledger

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ledger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DebitAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebitAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateChanged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateChanged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LedgerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
